.btn {
    color: #@f5572;
    opacity: 1;
    transition: opacity .3s ease-out;
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    
    @mixin atSmall {
        opacity: 0;
        z-index: -10;
        
    }
}