body {
  font-family: 'Roboto', sans-serif;
}

img {
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 10px;
  scale: .9;
}

hr {
  color: $mainOrange
}

h1 {
  color: $mainOrange;
  position: absolute;
  top: 55px;
  transform: translateY(-20%);
  left: 230px;

  @mixin atSmall {
    margin-top: 45px;
  }
  
}



