.btn {
    color: #fff;
    text-decoration: none;
    background-color: $mainBlue;
    padding: 10px 15px;

    &--pull-right {
        

        @mixin atMedium {
            float: right;
        }
    }

    &--orange {
        background-color: $mainOrange;
    }

    &--small {
        padding: 3px 8px;
    }
}