.large-hero {
    display: grid;
    grid-template-columns: 1fr;

    &__image {
        grid-column: 1;
        grid-row: 1;
    }

    &__text-content {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        font-size: 4.8rem;
        margin: 0;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 2.9rem;
        margin: 0;
    }

    &__description {
        font-size: 2rem;
        font-weight: 300;
        color: #fff;
    }

    &__btn {
        color: #fff;
        text-decoration: none;
        background-color: $mainOrange;
        padding: 15px 30px;
    }
}