.welcome-section {

    h1 {
        color: $mainOrange;
        font-weight: 300;
        text-align: center;
    }

    p {
        font-size: 18px;
        font-family: 'Roboto', serif;
        line-height: 1.6;
        text-align: justify;
        color: $mainBlue;
        margin: 20px 0;
        padding: 10px;
        background-color: rgba(47, 85, 114, .3);
        font-weight: normal;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
      
}